python-dotenv
requests
langchain
langchain_core
langchain_community
ollama
pydantic
fastapi
uvicorn
langchain-ollama
pymongo
apscheduler
ipykernel
crewai
pypdf
arxiv
pymupdf
langchain_huggingface
sentence-transformers
langchain_pinecone
pinecone
python-multipart